@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  background-color: #c4c4c4;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20.99%;
  right: 36.13%;
  top: 40.69%;
  bottom: 44.49%;
  width: 426px;
  height: 121px;
}

#username-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  left: 21.42%;
  right: 43.67%;
  top: 39.37%;
  bottom: 52.36%;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.16em;
  text-decoration-line: underline;
  background-color: #868686;
  color: #c4c4c4;
}

::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.16em;
  text-decoration-line: underline;
  text-align: center;
  color: #c4c4c4;
}

input:focus::placeholder {
  color: transparent;
}

.player-selection {
  position: absolute;
  left: 73.84%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #214281;
}

.player-selection-top {
  display: flex;
  justify-content: center;
  align-content: center;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 78.74%;

  background: #3ba5c7;
}

.player-selection-top-text {
  position: absolute;
  top: 30%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.16em;
}

.players {
  position: absolute;
  left: 18.86%;
  right: 6.39%;
  top: 28.35%;
  bottom: 67.52%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.16em;

  color: #1fb2c6;
}
